<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID"
	version="3.0">
	<display-name>picketbox-solder-app</display-name>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.skin</param-name>
		<param-value>blueSky</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.enableMissingResourceLibraryDetection</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- <filter> -->
	<!-- <filter-name>PicketBox Delegating Filter</filter-name> -->
	<!-- <filter-class>org.picketbox.solder.http.filter.SolderDelegatingSecurityFilter</filter-class> -->
	<!-- <init-param> -->
	<!-- <param-name>authSchemeLoader</param-name> -->
	<!-- <param-value>org.picketbox.solder.authentication.http.SolderHTTPAuthenticationSchemeLoader</param-value> -->
	<!-- </init-param> -->
	<!-- </filter> -->
	<!-- <filter-mapping> -->
	<!-- <filter-name>PicketBox Delegating Filter</filter-name> -->
	<!-- <url-pattern>*.jsf</url-pattern> -->
	<!-- </filter-mapping> -->
</web-app>