<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<!-- Configures FORM authentication scheme -->
	<context-param>
		<param-name>org.picketbox.authentication</param-name>
		<param-value>FORM</param-value>
	</context-param>
	<!-- Custom ConfigurationBuilderProvider to provide a custom configuration 
		using the Configuration API. -->
	<context-param>
		<param-name>org.picketbox.configuration.provider</param-name>
		<param-value>org.picketbox.quickstarts.configuration.CustomConfigurationPovider</param-value>
	</context-param>
	<!-- Configures the PicketBox Security Filter -->
	<filter>
		<filter-name>PicketBox Delegating Filter</filter-name>
		<filter-class>org.picketbox.http.filters.DelegatingSecurityFilter</filter-class>
	</filter>
	<!-- Configures the a filter to propagate the EntityManager and make it 
		available to PicketBox. This is NOT a PicketBox requirement, usually you 
		would use some framework that already provides such thing. -->
	<filter>
		<filter-name>JTA Transaction Manager Filter</filter-name>
		<filter-class>org.picketbox.quickstarts.filter.JTATransactionManagerFilter</filter-class>
	</filter>
	<!-- This filter will configure the JPA EntityManager and JTA Transactions for each request -->
	<filter-mapping>
		<filter-name>JTA Transaction Manager Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Configures all resources as protected by the PicketBox Security Filter -->
	<filter-mapping>
		<filter-name>PicketBox Delegating Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>